<a href="https://colab.research.google.com/github/G3Krishna/sct-meetup/blob/students/week-1/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment - Intro to Python and Data Structures
The assignment is for students to get a feel of the lesson discussed this week. You are free to ask any doubts regarding working out any questions in the group. Also, updating the worked out notebook on Github is very much engaged, be sure to mention School of AI, Trivandrum. Additional recognition for students who document the work using *markdown*.

##### 1) Read the contents of test.csv

In [0]:
## Your code goes here.

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving test.csv to test.csv
User uploaded file "test.csv" with length 784 bytes

In [2]:
file_open=open('test.csv','r')
data=file_open.read()
file_open.close()
print(data)

Loan_ID,Gender,Married,Education,ApplicantIncome,LoanAmount,Property_Area
LP001015,Male,Yes,Graduate,5720,110,Urban
LP001022,Male,Yes,Graduate,3076,126,Urban
LP001031,Male,Yes,Graduate,5000,208,Urban
LP001035,Male,Yes,Graduate,2340,100,Urban
LP001051,Male,No,Not Graduate,3276,78,Urban
LP001054,Male,Yes,Not Graduate,2165,152,Urban
LP001055,Female,No,Not Graduate,2226,59,Semiurban
LP001056,Male,Yes,Not Graduate,3881,147,Rural
LP001059,Male,Yes,Graduate,13633,280,Urban
LP001067,Male,No,Not Graduate,2400,123,Semiurban
LP001078,Male,No,Not Graduate,3091,90,Urban
LP001082,Male,Yes,Graduate,2185,162,Semiurban
LP001083,Male,No,Graduate,4166,40,Urban
LP001094,Male,Yes,Graduate,12173,166,Semiurban
LP001096,Female,No,Graduate,4666,124,Semiurban
LP001099,Male,No,Graduate,5667,131,Urban

**To split the csv into different lines**

In [3]:
first_array=data.split( '\n')


matrix=[]
for i in first_array:
  matrix.append(i.split(','))
matrix

[['Loan_ID',
  'Gender',
  'Married',
  'Education',
  'ApplicantIncome',
  'LoanAmount',
  'Property_Area'],
 ['LP001015', 'Male', 'Yes', 'Graduate', '5720', '110', 'Urban'],
 ['LP001022', 'Male', 'Yes', 'Graduate', '3076', '126', 'Urban'],
 ['LP001031', 'Male', 'Yes', 'Graduate', '5000', '208', 'Urban'],
 ['LP001035', 'Male', 'Yes', 'Graduate', '2340', '100', 'Urban'],
 ['LP001051', 'Male', 'No', 'Not Graduate', '3276', '78', 'Urban'],
 ['LP001054', 'Male', 'Yes', 'Not Graduate', '2165', '152', 'Urban'],
 ['LP001055', 'Female', 'No', 'Not Graduate', '2226', '59', 'Semiurban'],
 ['LP001056', 'Male', 'Yes', 'Not Graduate', '3881', '147', 'Rural'],
 ['LP001059', 'Male', 'Yes', 'Graduate', '13633', '280', 'Urban'],
 ['LP001067', 'Male', 'No', 'Not Graduate', '2400', '123', 'Semiurban'],
 ['LP001078', 'Male', 'No', 'Not Graduate', '3091', '90', 'Urban'],
 ['LP001082', 'Male', 'Yes', 'Graduate', '2185', '162', 'Semiurban'],
 ['LP001083', 'Male', 'No', 'Graduate', '4166', '40', 'Urban'],
 ['LP001094', 'Male', 'Yes', 'Graduate', '12173', '166', 'Semiurban'],
 ['LP001096', 'Female', 'No', 'Graduate', '4666', '124', 'Semiurban'],
 ['LP001099', 'Male', 'No', 'Graduate', '5667', '131', 'Urban']]

**To make the csv in the form of  a dictionary, we use fromkeys()**

In [4]:
f_row = matrix[0]
dict = dict.fromkeys(f_row)
for i in f_row:
  dict[i] = []
dict

{'ApplicantIncome': [],
 'Education': [],
 'Gender': [],
 'LoanAmount': [],
 'Loan_ID': [],
 'Married': [],
 'Property_Area': []}

**To assign values to the keys in the dictionary**

In [5]:
for i in range(1,len(matrix)):
  for j in range(len(f_row)):
    dict[f_row[j]].append(matrix[i][j])
    
dict

{'ApplicantIncome': ['5720',
  '3076',
  '5000',
  '2340',
  '3276',
  '2165',
  '2226',
  '3881',
  '13633',
  '2400',
  '3091',
  '2185',
  '4166',
  '12173',
  '4666',
  '5667'],
 'Education': ['Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Not Graduate',
  'Not Graduate',
  'Not Graduate',
  'Not Graduate',
  'Graduate',
  'Not Graduate',
  'Not Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Graduate'],
 'Gender': ['Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'],
 'LoanAmount': ['110',
  '126',
  '208',
  '100',
  '78',
  '152',
  '59',
  '147',
  '280',
  '123',
  '90',
  '162',
  '40',
  '166',
  '124',
  '131'],
 'Loan_ID': ['LP001015',
  'LP001022',
  'LP001031',
  'LP001035',
  'LP001051',
  'LP001054',
  'LP001055',
  'LP001056',
  'LP001059',
  'LP001067',
  'LP001078',
  'LP001082',
  'LP001083',
  'LP001094',
  'LP001096',
  'LP001099'],
 'Married': ['Yes',
  'Yes',
  'Yes',
  'Yes',
  'No',
  'Yes',
  'No',
  'Yes',
  'Yes',
  'No',
  'No',
  'Yes',
  'No',
  'Yes',
  'No',
  'No'],
 'Property_Area': ['Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Semiurban',
  'Rural',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Semiurban',
  'Urban']}

##### 2) Replace the *Graduate* and *Not Graduate* in the Education column by 1 and 0 respectively

In [6]:
column_graduate=dict['Education']
new_column=[]

for i in range(len(column_graduate)):
  if column_graduate[i] in 'Graduate':
      new_column.append('1')
  else:
      new_column.append('0')

dict['Education']=new_column

dict

{'ApplicantIncome': ['5720',
  '3076',
  '5000',
  '2340',
  '3276',
  '2165',
  '2226',
  '3881',
  '13633',
  '2400',
  '3091',
  '2185',
  '4166',
  '12173',
  '4666',
  '5667'],
 'Education': ['1',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '1',
  '1',
  '1',
  '1'],
 'Gender': ['Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'],
 'LoanAmount': ['110',
  '126',
  '208',
  '100',
  '78',
  '152',
  '59',
  '147',
  '280',
  '123',
  '90',
  '162',
  '40',
  '166',
  '124',
  '131'],
 'Loan_ID': ['LP001015',
  'LP001022',
  'LP001031',
  'LP001035',
  'LP001051',
  'LP001054',
  'LP001055',
  'LP001056',
  'LP001059',
  'LP001067',
  'LP001078',
  'LP001082',
  'LP001083',
  'LP001094',
  'LP001096',
  'LP001099'],
 'Married': ['Yes',
  'Yes',
  'Yes',
  'Yes',
  'No',
  'Yes',
  'No',
  'Yes',
  'Yes',
  'No',
  'No',
  'Yes',
  'No',
  'Yes',
  'No',
  'No'],
 'Property_Area': ['Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Semiurban',
  'Rural',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Semiurban',
  'Urban']}

##### 3) Find the minimum and maximum value of *Loan Amount*. Also calculate the mean *Loan Amount*

In [7]:
loan_array=[]
loan_sum=0

for i in dict['LoanAmount']:
    loan_sum+=int(i)
    loan_array.append(int(i))
    
print("Maximum value of LoanAmount: " +str(max(loan_array)))
print("Minimum value of LoanAmount: " +str(min(loan_array)))
print("Average value of LoanAmount: " +str(loan_sum/len(loan_array)))

Maximum value of LoanAmount: 280
Minimum value of LoanAmount: 40
Average value of LoanAmount: 131